
.cart-badge {
    background-color: #edb20fe5;
    color: rgb(209, 13, 13);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: relative;
    top: -5px;
    margin-left: 5px;
  }
  