body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 90%;
  
}
.searchBar{
 margin-left: 40%;
margin-top: 20px;
}
.paragraph{
  text-align: center;
  margin-top: 30px;
}

nav {
  background-color: orange;
  color: white;
  padding: 10px;
  display: flex; /* Use flex display */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-left: 10px;
 
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  text-align: center;
 

}


h2 {
  margin-top: 5px;
  
}




  
 
 
  


nav a:hover {
  color: orange;
}



.product-list-container {
  display: flex;
  flex-wrap: wrap;
 
 justify-content: center;
  margin-top: 40px;
}

.product-card {
  width: 30%; /* Set a fixed width for the card */
   /* Set a fixed height for the card */
  /* flex: 0 0 auto; Maintain the fixed width and height */
  border: 1px solid #ccc; /* Add a border for visibility */
  padding: 20px; /* Add padding to the card */
  justify-content: space-between;
margin: 10px;
  height: 600px;
   
  

}

.product-card h2 {
  font-size: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* .product-card img {

 
} */
.product-details-card{
  display: flex;
  align-items: center;
}


.product-card img {
  max-width: 45%;
  height: auto;
  margin-right: 20px;
  display: block; /* This helps center the image within the flex container */
  margin: 0 auto;
  
}



.product-details h2 {
  font-size: 24px;
  margin-top: 0;
}

.product-details p {
  margin: 5px 0;
}

.product-details button {
  background-color: orange;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}






