body{
  background-color: orange;
  width: 80%;
  
}
.product-card {
  /* Add other styling for your product card here */
https://github.com/benedictlangat2000/group-3-phase-2-project/pull/9/conflict?name=src%252FApp.css&ancestor_oid=74b5e053450a48a6bdb4d71aad648e7af821975c&base_oid=79a01e11494a46d64aebb27f5d3b3a2248299afd&head_oid=a66126aeb4d241cf8742374662973a2d700bb676  text-align: center; /* Center-align the content within the card */
}

.product-list {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.product-list li {
  margin: 5px;
}

SingupLogin {
  width: 90%;
  max-width: 470px;
  background: linear-gradient( rgb(232, 194, 5),#1b0597);
  color: #ffffff;
  margin-top: 3%;
  border-radius: 50px;
  padding: 5px 15px;
  text-align: center;
}

.auth-container {
  text-align: right;
  margin-top: 20px;
}

.auth-container button {
  background-color: hsl(18, 166, 240);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: large;
  
}

.auth-container button:hover {
  background-color: rgb(18, 166, 240);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #0008ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}



.cart {
  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.cart-item img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
  border-radius: 5px;
}


.cart-item div {
  flex: 1;
}

.cart-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}



.cart-item p {
  font-size: 16px;
  margin: 0;
}

.cart-item button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}


.cart p:last-child {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}


.cart p:only-child {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
}



button:hoverOb {
  background-color: hwb(239 0% 30%);
}


