.SignupLogin {
    border-style: double;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #df8c0f,#1b0597);
    color: #fff;
    margin-top: 3%;
     margin-left: 33%;
     border-radius: 70px;
     padding: 40px 35px;
     text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .auth-container button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .auth-container button:hover {
    background-color: #2980b9;
  }
  
  .form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .form h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form button {
    width: 100%;
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #21935c;
  }
  